# 1. Python program to display IMDB’s Top rated 100 Indian movies’ data

In [1]:
!pip install bs4
!pip install requests
from bs4 import BeautifulSoup
import requests
import pandas as pd

Requirement already satisfied: bs4 in ./opt/anaconda3/lib/python3.9/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in ./opt/anaconda3/lib/python3.9/site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in ./opt/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in ./opt/anaconda3/lib/python3.9/site-packages (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in ./opt/anaconda3/lib/python3.9/site-packages (from requests) (2022.9.24)

In [7]:
# Sending the request for the page URL 

page = requests.get("https://www.imdb.com/list/ls056092300/")
page

In [86]:
# Fetching the Source code of the website


url = "https://www.imdb.com/list/ls056092300/"
r = requests.get(url)
soup = BeautifulSoup(r.text,"lxml")
soup

In [87]:
#Extraction of movie name available on the website


movie_name=[]
names=soup.find_all('h3',class_='lister-item-header')
names

In [17]:
for i in names:
    name=i.a.text
    movie_name.append(name)
    
print(movie_name)
len(movie_name)

['Ship of Theseus', 'Iruvar', 'Kaagaz Ke Phool', 'Lagaan: Once Upon a Time in India', 'Pather Panchali', 'Charulata', 'Rang De Basanti', 'Dev.D', '3 Idiots', 'Awaara', 'Nayakan', 'Aparajito', 'Pushpaka Vimana', 'Pyaasa', 'Ghatashraddha', 'Sholay', 'Aradhana', 'Do Ankhen Barah Haath', 'Bombay', 'Neecha Nagar', 'Do Bigha Zamin', 'Garm Hava', 'Piravi', 'Mughal-E-Azam', 'Amma Ariyan', 'Madhumati', 'Goopy Gyne Bagha Byne', 'Gangs of Wasseypur', 'Guide', 'Satya', 'Roja', 'Mr. India', 'The Cloud-Capped Star', 'Harishchandrachi Factory', 'Masoom', 'Agneepath', 'Tabarana Kathe', 'Zakhm', 'Dil Chahta Hai', 'Bhaag Milkha Bhaag', 'Chupke Chupke', 'Dilwale Dulhania Le Jayenge', 'Taare Zameen Par', 'Ardh Satya', 'Bhumika', 'Enthiran', 'Sadma', 'Shwaas', 'Lamhe', 'Haqeeqat', 'Shree 420', 'Kannathil Muthamittal', 'Hum Aapke Hain Koun..!', 'Ustad Hotel', 'Bandit Queen', 'Lakshya', 'Black Friday', 'Manthan', 'Apoorva Raagangal', 'English Vinglish', 'Jewel Thief', 'Pakeezah', 'Maqbool', 'Jis Desh Men Ganga Behti Hai', 'Sahib Bibi Aur Ghulam', 'Shatranj Ke Khilari', 'Narthanasala', 'Chandni Bar', 'Vaaranam Aayiram', 'Mr. and Mrs. Iyer', 'Chandni', 'English, August', 'Celluloid', 'Sagara Sangamam', 'Munna Bhai M.B.B.S.', 'Saaransh', 'Guddi', 'Vanaja', 'Vazhakku Enn 18/9', 'Gangaajal', 'Angoor', 'Guru', 'Andaz Apna Apna', 'Sangam', 'Oka Oori Katha', 'Bhuvan Shome', 'Border', 'Parineeta', 'Devdas', 'Abohomaan', 'Kuch Kuch Hota Hai', 'Pithamagan', 'Veyyil', 'Chemmeen', 'Jaane Bhi Do Yaaro', 'Apur Sansar', 'Kanchivaram', 'Monsoon Wedding', 'Black', 'Deewaar']

100

In [19]:
# Extraction of IMBD rating of all the movies mentioned above


rating=[]
names=soup.find_all('div',class_='ipl-rating-star small')
for i in names:
    names=i.text.replace('\n','')
    rating.append(names)
print(rating)
len(rating)

['8', '8.4', '7.8', '8.1', '8.2', '8.1', '8.1', '7.9', '8.4', '7.8', '8.6', '8.2', '8.6', '8.3', '7.6', '8.1', '7.6', '8.4', '8.1', '6.7', '8.3', '8.1', '7.8', '8.1', '7.4', '7.8', '8.7', '8.2', '8.3', '8.3', '8.1', '7.7', '7.8', '8.4', '8.4', '7.6', '8.1', '7.9', '8.1', '8.2', '8.3', '8', '8.3', '8.1', '7.4', '7.1', '8.3', '8.2', '7.2', '7.8', '7.9', '8.4', '7.5', '8.2', '7.5', '7.8', '8.4', '7.6', '7.6', '7.8', '7.9', '7.2', '8', '7.1', '8.1', '7.5', '8.1', '7.6', '8.2', '7.9', '6.7', '7.6', '7.7', '8.8', '8.1', '8.1', '7.2', '7.2', '8.3', '7.8', '8.3', '7.7', '8', '7.3', '7.8', '7.2', '7.9', '7.2', '7.7', '7.5', '7.5', '8.3', '7.9', '7.8', '8.3', '8.4', '8.2', '7.3', '8.1', '8']

100

In [20]:
# Fetching the year of release of each movie


year_release=[]
names=soup.find_all('span',class_='lister-item-year text-muted unbold')
for i in names:
    name=i.text.replace('(',"").replace(')','')
    year_release.append(name)
print(year_release)
len(year_release)

['2012', '1997', '1959', '2001', '1955', '1964', '2006', '2009', '2009', '1951', '1987', '1956', '1987', '1957', '1977', '1975', '1969', '1957', '1995', '1946', '1953', '1974', '1989', '1960', '1986', '1958', '1969', '2012', '1965', '1998', '1992', '1987', '1960', '2009', '1983', '1990', '1986', '1998', '2001', '2013', '1975', '1995', '2007', '1983', '1977', '2010', '1983', '2004', '1991', '1964', '1955', '2002', '1994', '2012', '1994', '2004', '2004', '1976', '1975', '2012', '1967', '1972', '2003', '1960', '1962', '1977', '1963', '2001', '2008', '2002', '1989', '1994', '2013', '1983', '2003', '1984', '1971', '2006', '2012', '2003', '1982', '2007', '1994', 'I 1964', '1978', '1969', 'I 1997', '2005', '1955', '2009', '1998', '2003', '2006', '1965', '1983', '1959', '2008', '2001', '2005', '1975']

100

In [26]:
# Creating Data Frame for each attributes


df=pd.DataFrame({'Movies Name':movie_name,'Rating':rating,'Year of Release':year_release})
df

                          Movies Name Rating Year of Release
0                     Ship of Theseus      8            2012
1                              Iruvar    8.4            1997
2                     Kaagaz Ke Phool    7.8            1959
3   Lagaan: Once Upon a Time in India    8.1            2001
4                     Pather Panchali    8.2            1955
..                                ...    ...             ...
95                        Apur Sansar    8.4            1959
96                        Kanchivaram    8.2            2008
97                    Monsoon Wedding    7.3            2001
98                              Black    8.1            2005
99                            Deewaar      8            1975

[100 rows x 3 columns]

# 2. Python program to scrape product name, price and discounts from flipkart website

In [27]:
url = "https://www.flipkart.com/search?q=ladies+bag&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&as-pos=1&as-type=HISTORY"
page=requests.get(url)
page

In [88]:
sp=BeautifulSoup(page.content)
soup=sp.find('div',class_='_1YokD2 _3Mn1Gg')
soup

In [29]:
# Fetching the names of the products

p_name=[]
names=soup.find_all('a',class_='IRpwTa')
for i in names:
    names=i.text
    p_name.append(names)
print(p_name)
len(p_name)

['Small 8 L Backpack Exclusive Fancy Trendy Ladies', 'Women Black Tote', 'Women Multicolor Shoulder Bag - Extra Spacious', 'Women Pink Hand-held Bag', 'Women Grey Satchel - Mini', 'Women Black Shoulder Bag - Extra Spacious', 'Women Multicolor Shoulder Bag', 'Brown Women Sling Bag', 'Women Maroon Messenger Bag - Extra Spacious', 'Women Maroon Shoulder Bag', 'Women Blue Handbag', 'Women Maroon Handbag', 'Women Black Messenger Bag - Extra Spacious', 'Women Multicolor Shoulder Bag', 'Women Blue Shoulder Bag', 'Women Black Shoulder Bag', 'Casual, Party, Formal Maroon  Clutch  - Regular Size', 'Women Multicolor Shoulder Bag', 'Women Blue Hand-held Bag', 'Women Brown Satchel', 'Women Grey Handbag - Extra Spacious', 'Women Green Shoulder Bag - Mini', 'Women Pink Shoulder Bag - Mini', 'Women Blue Satchel - Regular Size', 'Women Blue Sling Bag - Extra Spacious', 'Women Pink Messenger Bag - Extra Spacious', 'Casual, Party, Formal Blue  Clutch  - Regular Size', 'Casual Black  Clutch', 'Women Blue Hand-held Bag', 'Women Black Satchel - Regular Size', 'Casual, Formal, Party, Sports Multicolor  Clutch', 'Women Black Shoulder Bag - Regular Size', 'Women Green Satchel - Mini', 'Women Blue Hand-held Bag', 'Women Pink Satchel', 'Women Blue Messenger Bag - Extra Spacious', 'Women Grey Shoulder Bag', 'Women Beige Tote - Extra Spacious', 'Women White Shoulder Bag - Mini', 'Women Black Handbag - Regular Size']

40

In [34]:
# Fetching the price of each product


price=[]
name=soup.find_all('div',class_='_30jeq3')
for i in name:
    names=i.text
    price.append(names)
print(price)
len(price)

['₹269', '₹359', '₹319', '₹198', '₹1,069', '₹225', '₹369', '₹711', '₹384', '₹197', '₹492', '₹489', '₹384', '₹369', '₹271', '₹199', '₹279', '₹1,599', '₹299', '₹1,029', '₹499', '₹1,729', '₹1,179', '₹299', '₹849', '₹384', '₹339', '₹449', '₹299', '₹1,349', '₹359', '₹1,359', '₹1,249', '₹299', '₹949', '₹384', '₹271', '₹939', '₹559', '₹384']

40

In [35]:
# Fetching the discounted price of each product


discount=[]
name=soup.find_all('div',class_='_3Ay6Sb')
for i in name:
    names=i.text
    discount.append(names)
print(discount)
len(discount)

['86% off', '76% off', '87% off', '80% off', '77% off', '85% off', '50% off', '71% off', '87% off', '86% off', '72% off', '72% off', '87% off', '50% off', '45% off', '90% off', '83% off', '67% off', '62% off', '79% off', '72% off', '79% off', '73% off', '70% off', '71% off', '87% off', '66% off', '75% off', '62% off', '70% off', '86% off', '72% off', '73% off', '62% off', '81% off', '87% off', '45% off', '71% off', '71% off', '82% off']

40

In [37]:
#List the result


df=pd.DataFrame({'Product Name':p_name,'Price':price,'Discount':discount})
df

                                         Product Name   Price Discount
0    Small 8 L Backpack Exclusive Fancy Trendy Ladies    ₹269  86% off
1                                    Women Black Tote    ₹359  76% off
2      Women Multicolor Shoulder Bag - Extra Spacious    ₹319  87% off
3                            Women Pink Hand-held Bag    ₹198  80% off
4                           Women Grey Satchel - Mini  ₹1,069  77% off
5           Women Black Shoulder Bag - Extra Spacious    ₹225  85% off
6                       Women Multicolor Shoulder Bag    ₹369  50% off
7                               Brown Women Sling Bag    ₹711  71% off
8         Women Maroon Messenger Bag - Extra Spacious    ₹384  87% off
9                           Women Maroon Shoulder Bag    ₹197  86% off
10                                 Women Blue Handbag    ₹492  72% off
11                               Women Maroon Handbag    ₹489  72% off
12         Women Black Messenger Bag - Extra Spacious    ₹384  87% off
13                      Women Multicolor Shoulder Bag    ₹369  50% off
14                            Women Blue Shoulder Bag    ₹271  45% off
15                           Women Black Shoulder Bag    ₹199  90% off
16  Casual, Party, Formal Maroon  Clutch  - Regula...    ₹279  83% off
17                      Women Multicolor Shoulder Bag  ₹1,599  67% off
18                           Women Blue Hand-held Bag    ₹299  62% off
19                                Women Brown Satchel  ₹1,029  79% off
20                Women Grey Handbag - Extra Spacious    ₹499  72% off
21                    Women Green Shoulder Bag - Mini  ₹1,729  79% off
22                     Women Pink Shoulder Bag - Mini  ₹1,179  73% off
23                  Women Blue Satchel - Regular Size    ₹299  70% off
24              Women Blue Sling Bag - Extra Spacious    ₹849  71% off
25          Women Pink Messenger Bag - Extra Spacious    ₹384  87% off
26  Casual, Party, Formal Blue  Clutch  - Regular ...    ₹339  66% off
27                               Casual Black  Clutch    ₹449  75% off
28                           Women Blue Hand-held Bag    ₹299  62% off
29                 Women Black Satchel - Regular Size  ₹1,349  70% off
30   Casual, Formal, Party, Sports Multicolor  Clutch    ₹359  86% off
31            Women Black Shoulder Bag - Regular Size  ₹1,359  72% off
32                         Women Green Satchel - Mini  ₹1,249  73% off
33                           Women Blue Hand-held Bag    ₹299  62% off
34                                 Women Pink Satchel    ₹949  81% off
35          Women Blue Messenger Bag - Extra Spacious    ₹384  87% off
36                            Women Grey Shoulder Bag    ₹271  45% off
37                  Women Beige Tote - Extra Spacious    ₹939  71% off
38                    Women White Shoulder Bag - Mini    ₹559  71% off
39                 Women Black Handbag - Regular Size    ₹384  82% off

# 3. Python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    b) Top 10 ODI Batsmen along with the records of their team and rating.
    c) Top 10 ODI bowlers along with the records of their team and rating.

In [ ]:
# a)Top 10 ODI Batsmen in Men's Cricket along with the recordsfor matches, points and rating

In [105]:
url = "https://sports.ndtv.com/cricket/icc-rankings/odi-batting"
page=requests.get(url)
page

In [131]:
soup=BeautifulSoup(page.content)
soup

In [132]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
name

In [108]:
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
    p_name=p_name[0:10]
p_name

['Babar Azam',
 'Shubman Gill',
 'Virat Kohli',
 'Rohit Sharma',
 'Daryl Mitchell',
 'David Warner',
 'Harry Tector',
 'Dawid Malan',
 'Rassie van der Dussen',
 'Heinrich Klaasen']

In [109]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['Pakistan',
 'India',
 'India',
 'India',
 'New Zealand',
 'Australia',
 'Ireland',
 'England',
 'South Africa',
 'South Africa']

In [110]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
rating

['824', '801', '768', '746', '728', '723', '723', '707', '701', '697']

In [111]:
df=pd.DataFrame({'Player Name':p_name,'Country':country,'Rating':rating})
df

             Player Name       Country Rating
0             Babar Azam      Pakistan    824
1           Shubman Gill         India    801
2            Virat Kohli         India    768
3           Rohit Sharma         India    746
4         Daryl Mitchell   New Zealand    728
5           David Warner     Australia    723
6           Harry Tector       Ireland    723
7            Dawid Malan       England    707
8  Rassie van der Dussen  South Africa    701
9       Heinrich Klaasen  South Africa    697

In [112]:
# b) Top 10 ODI Batsmen along with the records of their team and rating.



url="https://sports.ndtv.com/cricket/icc-rankings"
page=requests.get(url)
page

In [133]:
soup=BeautifulSoup(page.content)
soup

In [114]:
team=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    team.append(name)
team=team[0:10]
team

['Australia',
 'India',
 'England',
 'New Zealand',
 'South Africa',
 'Pakistan',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Zimbabwe']

In [115]:
match=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    match.append(name)
match=match[0:30:3]
match

['37', '32', '43', '29', '27', '29', '31', '28', '22', '7']

In [116]:
points=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    points.append(name)
points=points[1:30:3]
points

['4345', '3746', '4941', '2939', '2671', '2576', '2505', '2212', '1131', '223']

In [117]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[2:30:3]
rating

['117', '117', '115', '101', '99', '89', '81', '79', '51', '32']

In [118]:
df=pd.DataFrame({'Team':team,'Matches':match,'Points':points,'Rating':rating})
df

           Team Matches Points Rating
0     Australia      37   4345    117
1         India      32   3746    117
2       England      43   4941    115
3   New Zealand      29   2939    101
4  South Africa      27   2671     99
5      Pakistan      29   2576     89
6   West Indies      31   2505     81
7     Sri Lanka      28   2212     79
8    Bangladesh      22   1131     51
9      Zimbabwe       7    223     32

In [119]:
# c) Top 10 ODI bowlers along with the records of their team and rating.




url = "https://sports.ndtv.com/cricket/icc-rankings/odi-bowling"
page=requests.get(url)
page

In [134]:
soup=BeautifulSoup(page.content)
soup

In [122]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
    p_name=p_name[0:10]
print(p_name)

['Keshav Maharaj', 'Josh Hazlewood', 'Adam Zampa', 'Mohammed Siraj', 'Jasprit Bumrah', 'Mohammad Nabi', 'Shaheen Afridi', 'Rashid Khan', 'Kuldeep Yadav', 'Trent Boult']

In [123]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['South Africa',
 'Australia',
 'Australia',
 'India',
 'India',
 'Afghanistan',
 'Pakistan',
 'Afghanistan',
 'India',
 'New Zealand']

In [124]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
print(rating)

['716', '688', '686', '678', '665', '653', '650', '647', '645', '643']

In [125]:
df=pd.DataFrame({'Player Name': p_name,'country':country,'Rating':rating})
df

      Player Name       country Rating
0  Keshav Maharaj  South Africa    716
1  Josh Hazlewood     Australia    688
2      Adam Zampa     Australia    686
3  Mohammed Siraj         India    678
4  Jasprit Bumrah         India    665
5   Mohammad Nabi   Afghanistan    653
6  Shaheen Afridi      Pakistan    650
7     Rashid Khan   Afghanistan    647
8   Kuldeep Yadav         India    645
9     Trent Boult   New Zealand    643

# 4. Python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [135]:
url="https://www.nobroker.in/property/rent/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&sharedAccomodation=0&city=bangalore&locality=Indiranagar,Jayanagar,Rajajinagar"
page=requests.get(url)
page

In [144]:
soup=BeautifulSoup(page.content)
soup

In [145]:
title=[]
name=soup.find_all('h2',class_='heading-6 flex items-center font-semi-bold m-0')
name

In [138]:
# Fetching the listed products name



for i in name:
    name=i.text
    title.append(name)
print(title)

['3 BHK Flat In Vijaya Murli Nilayam for Rent  In Indiranagar', '1 BHK House for Rent  In Indira Nagar', '2 BHK House for Rent  In Rajaji Nagar', '2 BHK House for Rent  In Indira Nagar Ii Stage, Hoysala Nagar, Indiranagar', '3 BHK Flat In Anand Comforts for Rent  In Tata Silk Farm', '3 BHK Flat In Sreesha Building  for Rent  In  Rajajinagar ', '2 BHK House for Rent  In Jayanagar', '2 BHK House for Rent  In Jayanagar', '2 BHK Flat In Jains Prakruti for Rent  In Jayanagar', '3 BHK House for Rent  In Jayanagar 7th Block', '2 BHK House for Rent  In Bashyam Circle', '2 BHK House for Rent  In Jayanagar 9th Block', '1 BHK Flat In Choudeshwari Prasanna for Rent  In Rajaji Nagar', '1 BHK House for Rent  In Jayanagar', '2 BHK Flat In Shiva Krupa for Rent  In Jayanagar', '3 BHK House for Rent  In Jayanagar', '2 BHK House for Rent  In 46th A Cross Road', '1 RK House for Rent  In Indiranagar', '2 BHK House for Rent  In Jayanagar', '2 BHK House for Rent  In Rajaji Nagar', '2 BHK Flat In Apartment for Rent  In Rajajinagar', '2 BHK Flat In Madhu Nivas, Jayanagar for Rent  In Sahisaving, C416, D Block, Gm E-city Town, Nr, Neotown Rd, Electronics City Phase 1, Electronic City, Bengaluru, Karnataka 560100, India', '3 BHK Flat In Marvel Apartment for Rent  In Rajajinagar Metro Station', '1 RK Flat In Sb for Rent  In Jayanagar', '3 BHK House for Rent  In Rajaji Nagar', '3 BHK Flat In Vijaya Murli Nilayam for Rent  In Indiranagar']

In [146]:
price=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
name

In [140]:
# Fetching the rent


for i in name:
    name=i.text
    price.append(name)
price=price[0:100:3]
price

['₹ 69,000 +₹ 5,000Maintenance',
 '₹ 14,000No Extra Maintenance',
 '₹ 24,000No Extra Maintenance',
 '₹ 36,000No Extra Maintenance',
 '₹ 42,000No Extra Maintenance',
 '₹ 25,000No Extra Maintenance',
 '₹ 25,000No Extra Maintenance',
 '₹ 18,000No Extra Maintenance',
 '₹ 42,000 +₹ 4,000Maintenance',
 '₹ 70,000 +₹ 5,000Maintenance',
 '₹ 16,000No Extra Maintenance',
 '₹ 32,000No Extra Maintenance',
 '₹ 11,500No Extra Maintenance',
 '₹ 15,000No Extra Maintenance',
 '₹ 36,000No Extra Maintenance',
 '₹ 27,000No Extra Maintenance',
 '₹ 25,000 +₹ 2,000Maintenance',
 '₹ 15,000 +₹ 500Maintenance',
 '₹ 19,500No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 12,000 +₹ 400Maintenance',
 '₹ 16,000No Extra Maintenance',
 '₹ 45,000No Extra Maintenance',
 '₹ 6,000No Extra Maintenance',
 '₹ 27,000 +₹ 1,000Maintenance',
 '₹ 69,000 +₹ 5,000Maintenance']

In [141]:
# Fetching the deposit of each item



Deposit=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    Deposit.append(name)
Deposit=Deposit[1:100:3]
print(Deposit)
len(Deposit)

['₹3,00,000', '₹75,000', '₹2,45,000', '₹2,00,000', '₹2,50,000', '₹2,50,000', '₹1,50,000', '₹2,00,000', '₹4,00,000', '₹7,00,000', '₹1,60,000', '₹2,10,000', '₹80,000', '₹75,000', '₹2,50,000', '₹2,50,000', '₹2,00,000', '₹50,000', '₹1,95,000', '₹2,00,000', '₹1,20,000', '₹1,20,000', '₹4,30,000', '₹30,000', '₹2,00,000', '₹3,00,000']

26

In [142]:
# Fetching the area of the house


area_in_sqft=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    area_in_sqft.append(name)
area_in_sqft=area_in_sqft[2:100:3]
print(area_in_sqft)
len(area_in_sqft)

['2,000 sqft', '600 sqft', '1,100 sqft', '1,350 sqft', '1,600 sqft', '1,200 sqft', '700 sqft', '600 sqft', '1,298 sqft', '2,000 sqft', '1,000 sqft', '1,000 sqft', '500 sqft', '650 sqft', '1,100 sqft', '1,050 sqft', '850 sqft', '350 sqft', '650 sqft', '1,300 sqft', '750 sqft', '1,000 sqft', '1,600 sqft', '140 sqft', '1,500 sqft', '2,000 sqft']

26

In [143]:
# Listing the product details


df=pd.DataFrame({"Location":title,"Rent":price, "Deposit":Deposit,"Area in Sqft":area_in_sqft})
df

,Location,Rent,Deposit,Area in Sqft
0,3 BHK Flat In Vijaya Murli Nilayam for Rent I...,"₹ 69,000 +₹ 5,000Maintenance","₹3,00,000","2,000 sqft"
1,1 BHK House for Rent In Indira Nagar,"₹ 14,000No Extra Maintenance","₹75,000",600 sqft
2,2 BHK House for Rent In Rajaji Nagar,"₹ 24,000No Extra Maintenance","₹2,45,000","1,100 sqft"
3,2 BHK House for Rent In Indira Nagar Ii Stage...,"₹ 36,000No Extra Maintenance","₹2,00,000","1,350 sqft"
4,3 BHK Flat In Anand Comforts for Rent In Tata...,"₹ 42,000No Extra Maintenance","₹2,50,000","1,600 sqft"
5,3 BHK Flat In Sreesha Building for Rent In ...,"₹ 25,000No Extra Maintenance","₹2,50,000","1,200 sqft"
6,2 BHK House for Rent In Jayanagar,"₹ 25,000No Extra Maintenance","₹1,50,000",700 sqft
7,2 BHK House for Rent In Jayanagar,"₹ 18,000No Extra Maintenance","₹2,00,000",600 sqft
8,2 BHK Flat In Jains Prakruti for Rent In Jaya...,"₹ 42,000 +₹ 4,000Maintenance","₹4,00,000","1,298 sqft"
9,3 BHK House for Rent In Jayanagar 7th Block,"₹ 70,000 +₹ 5,000Maintenance","₹7,00,000","2,000 sqft"
10,2 BHK House for Rent In Bashyam Circle,"₹ 16,000No Extra Maintenance","₹1,60,000","1,000 sqft"
11,2 BHK House for Rent In Jayanagar 9th Block,"₹ 32,000No Extra Maintenance","₹2,10,000","1,000 sqft"
12,1 BHK Flat In Choudeshwari Prasanna for Rent ...,"₹ 11,500No Extra Maintenance","₹80,000",500 sqft
13,1 BHK House for Rent In Jayanagar,"₹ 15,000No Extra Maintenance","₹75,000",650 sqft
14,2 BHK Flat In Shiva Krupa for Rent In Jayanagar,"₹ 36,000No Extra Maintenance","₹2,50,000","1,100 sqft"
15,3 BHK House for Rent In Jayanagar,"₹ 27,000No Extra Maintenance","₹2,50,000","1,050 sqft"
16,2 BHK House for Rent In 46th A Cross Road,"₹ 25,000 +₹ 2,000Maintenance","₹2,00,000",850 sqft
17,1 RK House for Rent In Indiranagar,"₹ 15,000 +₹ 500Maintenance","₹50,000",350 sqft
18,2 BHK House for Rent In Jayanagar,"₹ 19,500No Extra Maintenance","₹1,95,000",650 sqft
19,2 BHK House for Rent In Rajaji Nagar,"₹ 20,000No Extra Maintenance","₹2,00,000","1,300 sqft"
20,2 BHK Flat In Apartment for Rent In Rajajinagar,"₹ 12,000 +₹ 400Maintenance","₹1,20,000",750 sqft
21,"2 BHK Flat In Madhu Nivas, Jayanagar for Rent ...","₹ 16,000No Extra Maintenance","₹1,20,000","1,000 sqft"
22,3 BHK Flat In Marvel Apartment for Rent In Ra...,"₹ 45,000No Extra Maintenance","₹4,30,000","1,600 sqft"
23,1 RK Flat In Sb for Rent In Jayanagar,"₹ 6,000No Extra Maintenance","₹30,000",140 sqft
24,3 BHK House for Rent In Rajaji Nagar,"₹ 27,000 +₹ 1,000Maintenance","₹2,00,000","1,500 sqft"
25,3 BHK Flat In Vijaya Murli Nilayam for Rent I...,"₹ 69,000 +₹ 5,000Maintenance","₹3,00,000","2,000 sqft"

# 5. Python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/bestseller?sort=popular .

In [89]:
url='https://www.bewakoof.com/bestseller?sort=popular'
page=requests.get(url)
page

In [104]:
soup=BeautifulSoup(page.content)
soup

In [91]:
p_name=[]
names=soup.find_all('div',class_='productNaming bkf-ellipsis')
for i in names:
    names=i.h2.text
    p_name.append(names)
print(p_name)
len(p_name)

["Men's Black Batman Outline Logo T-shirt", "Men's Blue Rider Vroom Panda Graphic Printed T-shirt", "Men's Black T-shirt", "Women's Black Boyfriend T-shirt", "Men's White T-shirt", "Men's White T-shirt", "Men's Black Iron Man of War Graphic Printed Vest", "Women's Red Boyfriend T-shirt", "Men's White Marvel Printed T-shirt", "Men's Black Martin Garrix Colorful Graphic Printed T-shirt"]

10

In [92]:
image_url=[]
names=soup.find_all('img',class_='productImgTag')
for i in names:
    image_url.append(i['src'])
image_url

['https://images.bewakoof.com/t640/men-s-black-batman-outline-logo-t-shirt-283889-1701423873-1.jpg',
 'https://images.bewakoof.com/t640/men-s-blue-rider-vroom-panda-graphic-printed-t-shirt-387282-1705996206-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirt-106-1701423878-1.jpg',
 'https://images.bewakoof.com/t640/women-s-black-boyfriend-t-shirt-103943-1655747735-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-1093-1708356232-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-105-1702967985-1.jpg',
 'https://images.bewakoof.com/t640/iron-man-of-war-vest-avl-220651-1655748304-1.jpg',
 'https://images.bewakoof.com/t640/women-s-red-boyfriend-t-shirt-170465-1658918677-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-marvel-printed-t-shirt-390747-1705996158-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-martin-garrix-colorful-graphic-printed-t-shirt-203045-1709214893-1.jpg']

In [93]:
len(image_url)

10

In [98]:
price=[]
name=soup.find_all('div',class_='discountedPriceText clr-p-black false')
for i in name:
    names=i.text
    price.append(names)
price=price[0:24]
print(price)

['₹399', '₹444', '₹499', '₹399', '₹499', '₹449', '₹354', '₹349', '₹399', '₹699']

In [100]:
len(price)

10

In [101]:
df=pd.DataFrame({'Product Name':p_name,'Image Url':image_url,'Price':price})
print(df)

                                        Product Name  \
0            Men's Black Batman Outline Logo T-shirt
1  Men's Blue Rider Vroom Panda Graphic Printed T...
2                                Men's Black T-shirt
3                    Women's Black Boyfriend T-shirt
4                                Men's White T-shirt
5                                Men's White T-shirt
6   Men's Black Iron Man of War Graphic Printed Vest
7                      Women's Red Boyfriend T-shirt
8                 Men's White Marvel Printed T-shirt
9  Men's Black Martin Garrix Colorful Graphic Pri...

                                           Image Url Price
0  https://images.bewakoof.com/t640/men-s-black-b...  ₹399
1  https://images.bewakoof.com/t640/men-s-blue-ri...  ₹444
2  https://images.bewakoof.com/t640/men-s-black-t...  ₹499
3  https://images.bewakoof.com/t640/women-s-black...  ₹399
4  https://images.bewakoof.com/t640/men-s-white-t...  ₹499
5  https://images.bewakoof.com/t640/men-s-white-t...  ₹449
6  https://images.bewakoof.com/t640/iron-man-of-w...  ₹354
7  https://images.bewakoof.com/t640/women-s-red-b...  ₹349
8  https://images.bewakoof.com/t640/men-s-white-m...  ₹399
9  https://images.bewakoof.com/t640/men-s-black-m...  ₹699

# 6. Python Program to scrap Title, Author, date from the below mentioned website

In [147]:
url="https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/"
page=requests.get(url)
page

In [153]:
soup=BeautifulSoup(page.content)
soup

In [149]:
p_name=[]
names=soup.find_all('h2',class_='h5 article-title')
for i in names:
    names=i.text
    p_name.append(names)
print(p_name)
len(p_name)

['\n\r\n                    Implementation of artificial intelligence in agriculture for optimisation of irrigation and application of pesticides and herbicides\r\n                \n', '\n\r\n                    Review of agricultural IoT technology\r\n                \n', '\n\r\n                    A comprehensive review on automation in agriculture using artificial intelligence\r\n                \n', '\n\r\n                    Automation and digitization of agriculture using artificial intelligence and internet of things\r\n                \n', '\n\r\n                    Applications of electronic nose (e-nose) and electronic tongue (e-tongue) in food quality-related properties determination: A review\r\n                \n', '\n\r\n                    Fruit ripeness classification: A survey\r\n                \n', '\n\r\n                    A review of imaging techniques for plant disease detection\r\n                \n', '\n\r\n                    Deep learning based computer vision approaches for smart agricultural applications\r\n                \n', '\n\r\n                    Comparison of CNN-based deep learning architectures for rice diseases classification\r\n                \n', '\n\r\n                    Transfer Learning for Multi-Crop Leaf Disease Image Classification using Convolutional Neural Network VGG\r\n                \n', '\n\r\n                    Plant disease detection using hybrid model based on convolutional autoencoder and convolutional neural network\r\n                \n', '\n\r\n                    Machine learning in nutrient management: A review\r\n                \n', '\n\r\n                    DeepRice: A deep learning and deep feature based classification of Rice leaf disease subtypes\r\n                \n', '\n\r\n                    How artificial intelligence uses to achieve the agriculture sustainability: Systematic review\r\n                \n', '\n\r\n                    Machine learning for weed–plant discrimination in agriculture 5.0: An in-depth review\r\n                \n', '\n\r\n                    Examining the interplay between artificial intelligence and the agri-food industry\r\n                \n', '\n\r\n                    Deep convolutional neural network models for weed detection in polyhouse grown bell peppers\r\n                \n', '\n\r\n                    A systematic review of machine learning techniques for cattle identification: Datasets, methods and future directions\r\n                \n', '\n\r\n                    A review on computer vision systems in monitoring of poultry: A welfare perspective\r\n                \n', '\n\r\n                    Crop diagnostic system: A robust disease detection and management system for leafy green crops grown in an aquaponics facility\r\n                \n', '\n\r\n                    Artificial cognition for applications in smart agriculture: A comprehensive review\r\n                \n', '\n\r\n                    Explainable artificial intelligence and interpretable machine learning for agricultural data analysis\r\n                \n', '\n\r\n                    Blockchain: A new safeguard for agri-foods\r\n                \n', '\n\r\n                    Study on body temperature detection of pig based on infrared technology: A review\r\n                \n', '\n\r\n                    Vision Intelligence for Smart Sheep Farming: Applying Ensemble Learning to Detect Sheep Breeds\r\n                \n']

25

In [150]:
author=[]
name=soup.find_all('p',class_='article-authors')
for i in name:
    names=i.text
    author.append(names)
author=author[0:50]
print(author)

[' Tanha Talaviya |  Dhara Shah |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah', ' Jinyuan Xu |  Baoxing Gu |  Guangzhao Tian', ' Kirtan Jha |  Aalap Doshi |  Poojan Patel |  Manan Shah', ' A. Subeesh |  C.R. Mehta', ' Juzhong Tan |  Jie Xu', ' Matteo Rizzo |  Matteo Marcuzzo |  Alessandro Zangari |  Andrea Gasparetto |  Andrea Albarelli', ' Vijai Singh |  Namita Sharma |  Shikha Singh', ' V.G. Dhanya |  A. Subeesh |  N.L. Kushwaha |  Dinesh Kumar Vishwakarma |  T. Nagesh Kumar |  G. Ritika |  A.N. Singh', ' Md Taimur Ahad |  Yan Li |  Bo Song |  Touhid Bhuiyan', ' Ananda S. Paymode |  Vandana B. Malode', ' Punam Bedi |  Pushkar Gole', ' Oumnia Ennaji |  Leonardus Vergütz |  Achraf El Allali', ' P. Isaac Ritharson |  Kumudha Raimond |  X. Anitha Mary |  Jennifer Eunice Robert |  Andrew J', ' Vilani Sachithra |  L.D.C.S. Subhashini', ' Filbert H. Juwono |  W.K. Wong |  Seema Verma |  Neha Shekhawat |  Basil Andy Lease |  Catur Apriono', ' Abderahman Rejeb |  Karim Rejeb |  Suhaiza Zailani |  John G. Keogh |  Andrea Appolloni', ' A. Subeesh |  S. Bhole |  K. Singh |  N.S. Chandel |  Y.A. Rajwade |  K.V.R. Rao |  S.P. Kumar |  D. Jat', ' Md Ekramul Hossain |  Muhammad Ashad Kabir |  Lihong Zheng |  Dave L. Swain |  Shawn McGrath |  Jonathan Medway', ' Cedric Okinda |  Innocent Nyalala |  Tchalla Korohou |  Celestine Okinda |  Jintao Wang |  Tracy Achieng |  Patrick Wamalwa |  Tai Mang |  Mingxia Shen', ' R. Abbasi |  P. Martinez |  R. Ahmad', ' Misbah Pathan |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah', ' Masahiro Ryo', ' Jie Xu |  Shuang Guo |  David Xie |  Yaxuan Yan', ' Zaiqin Zhang |  Hang Zhang |  Tonghai Liu', ' Galib Muhammad Shahriar Himel |  Md. Masudul Islam |  Mijanur Rahaman']

In [151]:
date=[]
name=soup.find_all('p',class_='article-date')
for i in name:
    names=i.text
    date.append(names)
date=date[0:50]
print(date)

['2020', '2022', 'June 2019', '2021', '2020', 'March 2023', '2020', '2022', 'September 2023', '2022', '2021', 'September 2023', 'March 2024', 'June 2023', 'December 2023', '2022', '2022', '2022', '2020', 'December 2023', '2020', '2022', '2020', 'March 2019', 'March 2024']

In [152]:
df=pd.DataFrame({'Title':p_name,'Author':author,'Date':date})
print(df)

                                                Title  \
0   \n\r\n                    Implementation of ar...
1   \n\r\n                    Review of agricultur...
2   \n\r\n                    A comprehensive revi...
3   \n\r\n                    Automation and digit...
4   \n\r\n                    Applications of elec...
5   \n\r\n                    Fruit ripeness class...
6   \n\r\n                    A review of imaging ...
7   \n\r\n                    Deep learning based ...
8   \n\r\n                    Comparison of CNN-ba...
9   \n\r\n                    Transfer Learning fo...
10  \n\r\n                    Plant disease detect...
11  \n\r\n                    Machine learning in ...
12  \n\r\n                    DeepRice: A deep lea...
13  \n\r\n                    How artificial intel...
14  \n\r\n                    Machine learning for...
15  \n\r\n                    Examining the interp...
16  \n\r\n                    Deep convolutional n...
17  \n\r\n                    A systematic review ...
18  \n\r\n                    A review on computer...
19  \n\r\n                    Crop diagnostic syst...
20  \n\r\n                    Artificial cognition...
21  \n\r\n                    Explainable artifici...
22  \n\r\n                    Blockchain: A new sa...
23  \n\r\n                    Study on body temper...
24  \n\r\n                    Vision Intelligence ...

                                               Author            Date
0    Tanha Talaviya |  Dhara Shah |  Nivedita Pate...            2020
1          Jinyuan Xu |  Baoxing Gu |  Guangzhao Tian            2022
2    Kirtan Jha |  Aalap Doshi |  Poojan Patel |  ...       June 2019
3                            A. Subeesh |  C.R. Mehta            2021
4                               Juzhong Tan |  Jie Xu            2020
5    Matteo Rizzo |  Matteo Marcuzzo |  Alessandro...      March 2023
6        Vijai Singh |  Namita Sharma |  Shikha Singh            2020
7    V.G. Dhanya |  A. Subeesh |  N.L. Kushwaha | ...            2022
8    Md Taimur Ahad |  Yan Li |  Bo Song |  Touhid...  September 2023
9              Ananda S. Paymode |  Vandana B. Malode            2022
10                         Punam Bedi |  Pushkar Gole            2021
11   Oumnia Ennaji |  Leonardus Vergütz |  Achraf ...  September 2023
12   P. Isaac Ritharson |  Kumudha Raimond |  X. A...      March 2024
13            Vilani Sachithra |  L.D.C.S. Subhashini       June 2023
14   Filbert H. Juwono |  W.K. Wong |  Seema Verma...   December 2023
15   Abderahman Rejeb |  Karim Rejeb |  Suhaiza Za...            2022
16   A. Subeesh |  S. Bhole |  K. Singh |  N.S. Ch...            2022
17   Md Ekramul Hossain |  Muhammad Ashad Kabir | ...            2022
18   Cedric Okinda |  Innocent Nyalala |  Tchalla ...            2020
19               R. Abbasi |  P. Martinez |  R. Ahmad   December 2023
20   Misbah Pathan |  Nivedita Patel |  Hiteshri Y...            2020
21                                       Masahiro Ryo            2022
22    Jie Xu |  Shuang Guo |  David Xie |  Yaxuan Yan            2020
23          Zaiqin Zhang |  Hang Zhang |  Tonghai Liu      March 2019
24   Galib Muhammad Shahriar Himel |  Md. Masudul ...      March 2024