# QUESTION NO 1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in ./opt/anaconda3/lib/python3.9/site-packages (4.18.1)
Requirement already satisfied: trio-websocket~=0.9 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (0.24.0)
Requirement already satisfied: typing_extensions>=4.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in ./opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: outcome in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio>=1.3.0 in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: idna in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in ./opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in ./opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in ./opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in ./opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [5]:
data=[]
name=[]
artist=[]
upload_date=[]
view=[]

In [7]:
tag=driver.find_elements(By.TAG_NAME,'td')
for i in tag:
    names=i.text
    data.append(names)
data=data[2:151]
print(data)
len(data)

['"Baby Shark Dance"[7]', "Pinkfong Baby Shark - Kids' Songs & Stories", '14.32', 'June 17, 2016', '[A]', '"Despacito"[10]', 'Luis Fonsi', '8.41', 'January 12, 2017', '[B]', '"Johny Johny Yes Papa"[18]', "LooLoo Kids - Nursery Rhymes and Children's Songs", '6.89', 'October 8, 2016', '', '"Bath Song"[19]', 'Cocomelon - Nursery Rhymes', '6.66', 'May 2, 2018', '', '"Shape of You"[20]', 'Ed Sheeran', '6.23', 'January 30, 2017', '[C]', '"See You Again"[23]', 'Wiz Khalifa', '6.22', 'April 6, 2015', '[D]', '"Wheels on the Bus"[28]', 'Cocomelon - Nursery Rhymes', '6.01', 'May 24, 2018', '', '"Phonics Song with Two Words"[29]', 'ChuChu TV Nursery Rhymes & Kids Songs', '5.75', 'March 6, 2014', '', '"Uptown Funk"[30]', 'Mark Ronson', '5.18', 'November 19, 2014', '', '"Gangnam Style"[31]', 'Psy', '5.10', 'July 15, 2012', '[E]', '"Learning Colors – Colorful Eggs on a Farm"[36]', 'Miroshka TV', '5.09', 'February 27, 2018', '', '"Dame Tu Cosita"[37]', 'Ultra Records', '4.59', 'April 5, 2018', '', '"Masha and the Bear – Recipe for Disaster"[38]', 'Get Movies', '4.57', 'January 31, 2012', '', '"Axel F"[39]', 'Crazy Frog', '4.45', 'June 16, 2009', '', '"Sugar"[40]', 'Maroon 5', '4.02', 'January 14, 2015', '', '"Baa Baa Black Sheep"[41]', 'Cocomelon - Nursery Rhymes', '4.01', 'June 25, 2018', '', '"Counting Stars"[42]', 'OneRepublic', '4.00', 'May 31, 2013', '', '"Lakdi Ki Kathi"[43]', 'Jingle Toons', '3.98', 'June 14, 2018', '', '"Roar"[44]', 'Katy Perry', '3.98', 'September 5, 2013', '', '"Waka Waka (This Time for Africa)"[45]', 'Shakira', '3.89', 'June 4, 2010', '', '"Sorry"[46]', 'Justin Bieber', '3.78', 'October 22, 2015', '', '"Shree Hanuman Chalisa"[47]', 'T-Series Bhakti Sagar', '3.77', 'May 10, 2011', '', '"Humpty the train on a fruits ride"[48]', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', '3.76', 'January 26, 2018', '', '"Thinking Out Loud"[49]', 'Ed Sheeran', '3.75', 'October 7, 2014', '', '"Perfect"[50]', 'Ed Sheeran', '3.70', 'November 9, 2017', '', '"Dark Horse"[51]', 'Katy Perry', '3.70', 'February 20, 2014', '', '"Let Her Go"[52]', 'Passenger', '3.64', 'July 25, 2012', '', '"Faded"[53]', 'Alan Walker', '3.60', 'December 3, 2015', '', '"Girls Like You"[54]', 'Maroon 5', '3.58', 'May 31, 2018', '', '"Lean On"[55]', 'Major Lazer Official', '3.57', 'March 22, 2015']

149

In [8]:
name=data[0:151:5]
name

['"Baby Shark Dance"[7]',
 '"Despacito"[10]',
 '"Johny Johny Yes Papa"[18]',
 '"Bath Song"[19]',
 '"Shape of You"[20]',
 '"See You Again"[23]',
 '"Wheels on the Bus"[28]',
 '"Phonics Song with Two Words"[29]',
 '"Uptown Funk"[30]',
 '"Gangnam Style"[31]',
 '"Learning Colors – Colorful Eggs on a Farm"[36]',
 '"Dame Tu Cosita"[37]',
 '"Masha and the Bear – Recipe for Disaster"[38]',
 '"Axel F"[39]',
 '"Sugar"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Counting Stars"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Roar"[44]',
 '"Waka Waka (This Time for Africa)"[45]',
 '"Sorry"[46]',
 '"Shree Hanuman Chalisa"[47]',
 '"Humpty the train on a fruits ride"[48]',
 '"Thinking Out Loud"[49]',
 '"Perfect"[50]',
 '"Dark Horse"[51]',
 '"Let Her Go"[52]',
 '"Faded"[53]',
 '"Girls Like You"[54]',
 '"Lean On"[55]']

In [9]:
artist=data[1:151:5]
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Psy',
 'Miroshka TV',
 'Ultra Records',
 'Get Movies',
 'Crazy Frog',
 'Maroon 5',
 'Cocomelon - Nursery Rhymes',
 'OneRepublic',
 'Jingle Toons',
 'Katy Perry',
 'Shakira',
 'Justin Bieber',
 'T-Series Bhakti Sagar',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'Ed Sheeran',
 'Ed Sheeran',
 'Katy Perry',
 'Passenger',
 'Alan Walker',
 'Maroon 5',
 'Major Lazer Official']

In [11]:
views=data[2:150:5]
views

['14.32',
 '8.41',
 '6.89',
 '6.66',
 '6.23',
 '6.22',
 '6.01',
 '5.75',
 '5.18',
 '5.10',
 '5.09',
 '4.59',
 '4.57',
 '4.45',
 '4.02',
 '4.01',
 '4.00',
 '3.98',
 '3.98',
 '3.89',
 '3.78',
 '3.77',
 '3.76',
 '3.75',
 '3.70',
 '3.70',
 '3.64',
 '3.60',
 '3.58',
 '3.57']

In [12]:
upload_date=data[3:150:5]
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'July 15, 2012',
 'February 27, 2018',
 'April 5, 2018',
 'January 31, 2012',
 'June 16, 2009',
 'January 14, 2015',
 'June 25, 2018',
 'May 31, 2013',
 'June 14, 2018',
 'September 5, 2013',
 'June 4, 2010',
 'October 22, 2015',
 'May 10, 2011',
 'January 26, 2018',
 'October 7, 2014',
 'November 9, 2017',
 'February 20, 2014',
 'July 25, 2012',
 'December 3, 2015',
 'May 31, 2018',
 'March 22, 2015']

In [13]:
df=pd.DataFrame({"Name":name,"Artists":artist,"Views":view,"Upload Date":upload_date})
df

,Name,Artists,Views,Upload Date
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,14.32,"June 17, 2016"
1,"""Despacito""[10]",Luis Fonsi,8.41,"January 12, 2017"
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.89,"October 8, 2016"
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,6.66,"May 2, 2018"
4,"""Shape of You""[20]",Ed Sheeran,6.23,"January 30, 2017"
5,"""See You Again""[23]",Wiz Khalifa,6.22,"April 6, 2015"
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,6.01,"May 24, 2018"
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,5.75,"March 6, 2014"
8,"""Uptown Funk""[30]",Mark Ronson,5.18,"November 19, 2014"
9,"""Gangnam Style""[31]",Psy,5.10,"July 15, 2012"
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,5.09,"February 27, 2018"
11,"""Dame Tu Cosita""[37]",Ultra Records,4.59,"April 5, 2018"
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,4.57,"January 31, 2012"
13,"""Axel F""[39]",Crazy Frog,4.45,"June 16, 2009"
14,"""Sugar""[40]",Maroon 5,4.02,"January 14, 2015"
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,4.01,"June 25, 2018"
16,"""Counting Stars""[42]",OneRepublic,4.00,"May 31, 2013"
17,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.98,"June 14, 2018"
18,"""Roar""[44]",Katy Perry,3.98,"September 5, 2013"
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,3.89,"June 4, 2010"
20,"""Sorry""[46]",Justin Bieber,3.78,"October 22, 2015"
21,"""Shree Hanuman Chalisa""[47]",T-Series Bhakti Sagar,3.77,"May 10, 2011"
22,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.76,"January 26, 2018"
23,"""Thinking Out Loud""[49]",Ed Sheeran,3.75,"October 7, 2014"
24,"""Perfect""[50]",Ed Sheeran,3.70,"November 9, 2017"
25,"""Dark Horse""[51]",Katy Perry,3.70,"February 20, 2014"
26,"""Let Her Go""[52]",Passenger,3.64,"July 25, 2012"
27,"""Faded""[53]",Alan Walker,3.60,"December 3, 2015"
28,"""Girls Like You""[54]",Maroon 5,3.58,"May 31, 2018"
29,"""Lean On""[55]",Major Lazer Official,3.57,"March 22, 2015"

# QUESTION NO.2

In [14]:
driver=webdriver.Chrome()

In [15]:
driver.get('https://www.bcci.tv/')

In [16]:
search=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
search.click()

In [17]:
series=[]
place=[]
date=[]
time=[]
stadium_name=[]

In [18]:
tag=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in tag:
    names=i.text
    series.append(names)
print(series)
len(series)

['ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

9

In [19]:
tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in tag:
    names=i.text
    place.append(names)
print(place)
len(place)

['New York', 'New York', 'New York', 'Florida', 'Harare', 'Harare', 'Harare', 'Harare', 'Harare']

9

In [20]:
tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in tag:
    names=i.text
    date.append(names)
print(date)
len(date)

['5 JUNE, 2024', '9 JUNE, 2024', '12 JUNE, 2024', '15 JUNE, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

9

In [21]:
tag=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in tag:
    names=i.text
    time.append(names)
print(time)
len(time)

['8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

9

In [22]:
tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
for i in tag:
    names=i.text
    stadium_name.append(names)
print(stadium_name)
len(stadium_name)

['Nassau County International Cricket Stadium,', 'Nassau County International Cricket Stadium,', 'Nassau County International Cricket Stadium,', 'Central Broward Park & Broward County Stadium, Lauderhill,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,', 'Harare Sports Club,']

9

In [23]:
df=pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time,"Stadium":stadium_name})
df

,Series,Place,Date,Time,Stadium
0,ICC MENS T20 WORLD CUP 2024,New York,"5 JUNE, 2024",8:00 PM IST,"Nassau County International Cricket Stadium,"
1,ICC MENS T20 WORLD CUP 2024,New York,"9 JUNE, 2024",8:00 PM IST,"Nassau County International Cricket Stadium,"
2,ICC MENS T20 WORLD CUP 2024,New York,"12 JUNE, 2024",8:00 PM IST,"Nassau County International Cricket Stadium,"
3,ICC MENS T20 WORLD CUP 2024,Florida,"15 JUNE, 2024",8:00 PM IST,"Central Broward Park & Broward County Stadium,..."
4,INDIA TOUR OF ZIMBABWE 2024,Harare,"6 JULY, 2024",8:00 PM IST,"Harare Sports Club,"
5,INDIA TOUR OF ZIMBABWE 2024,Harare,"7 JULY, 2024",8:00 PM IST,"Harare Sports Club,"
6,INDIA TOUR OF ZIMBABWE 2024,Harare,"10 JULY, 2024",8:00 PM IST,"Harare Sports Club,"
7,INDIA TOUR OF ZIMBABWE 2024,Harare,"13 JULY, 2024",8:00 PM IST,"Harare Sports Club,"
8,INDIA TOUR OF ZIMBABWE 2024,Harare,"14 JULY, 2024",8:00 PM IST,"Harare Sports Club,"

# QUESTION NO 3

In [24]:
driver=webdriver.Chrome()

In [25]:
driver.get('https://statisticstimes.com/')

In [26]:
data=[]
rank=[]
state=[]
gsdp1=[]
gsdp2=[]
share=[]
gdp=[]

In [27]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search.click()

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search.click()

In [ ]:
search=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search.click()

In [30]:
tag=driver.find_elements(By.TAG_NAME,'td')
for i in tag:
    names=i.text
    data.append(names)
data=data[4:268]
print(data)
len(data)

['1', 'Maharashtra', '-', '-', '3,108,022', '13.17%', '414.928', '-', '-', '2,027,971', '2', 'Tamil Nadu', '2,700,109', '2,364,514', '2,071,286', '8.78%', '276.522', '1,572,601', '1,453,321', '1,343,287', '3', 'Karnataka', '2,500,733', '2,269,995', '1,978,094', '8.38%', '264.080', '1,423,229', '1,335,052', '1,235,377', '4', 'Uttar Pradesh', '2,547,861', '2,258,040', '1,975,595', '8.37%', '263.747', '1,423,358', '1,318,027', '1,200,093', '5', 'Gujarat', '-', '2,230,609', '1,928,683', '8.17%', '257.484', '-', '1,475,629', '1,365,922', '6', 'West Bengal', '1,700,939', '1,531,758', '1,329,238', '5.63%', '177.456', '904,088', '839,805', '787,439', '7', 'Rajasthan', '1,524,030', '1,365,849', '1,193,489', '5.06%', '159.334', '842,621', '784,655', '727,805', '8', 'Andhra Pradesh', '1,439,674', '1,303,524', '1,148,471', '4.87%', '153.324', '820,894', '764,685', '722,727', '9', 'Telangana', '1,463,960', '1,308,034', '1,124,204', '4.76%', '150.084', '767,936', '715,157', '669,229', '10', 'Madhya Pradesh', '1,363,327', '1,246,471', '1,092,964', '4.63%', '145.913', '660,363', '622,908', '584,470', '11', 'Kerala', '-', '1,046,188', '934,542', '3.96%', '124.764', '-', '616,189', '578,057', '12', 'Delhi', '1,107,746', '1,014,688', '881,336', '3.73%', '117.660', '672,247', '625,981', '580,396', '13', 'Haryana', '1,095,535', '984,055', '868,905', '3.68%', '116.001', '634,027', '587,198', '544,317', '14', 'Odisha', '832,790', '753,177', '662,886', '2.81%', '88.497', '503,871', '464,574', '430,541', '15', 'Bihar', '-', '751,396', '650,302', '2.76%', '86.817', '-', '442,473', '399,930', '16', 'Punjab', '736,423', '676,164', '617,192', '2.62%', '82.397', '493,283', '462,053', '434,261', '17', 'Assam', '565,401', '493,167', '411,454', '1.74%', '54.930', '318,559', '300,799', '278,835', '18', 'Chhattisgarh', '505,887', '464,399', '410,525', '1.74%', '54.806', '321,945', '302,119', '280,609', '19', 'Jharkhand', '-', '393,722', '358,863', '1.52%', '47.909', '-', '259,800', '243,348', '20', 'Uttarakhand', '346,206', '303,781', '267,143', '1.13%', '35.664', '213,378', '198,341', '184,274', '21', 'Jammu & Kashmir', '246,465', '224,226', '193,352', '0.82%', '25.813', '139,171', '129,573', '119,174', '22', 'Himachal Pradesh', '207,430', '191,728', '172,162', '0.73%', '22.984', '142,800', '133,372', '124,770', '23', 'Goa', '-', '93,672', '84,266', '0.36%', '11.250', '-', '59,867', '55,342', '24', 'Tripura', '-', '72,636', '62,550', '0.27%', '8.351', '-', '42,997', '39,487', '25', 'Chandigarh', '-', '54,285', '46,096', '0.20%', '6.154', '-', '33,879', '30,587', '26', 'Puducherry', '-', '49,643', '43,810', '0.19%', '5.849', '-', '28,849', '27,131', '27', 'Meghalaya', '47,381', '42,697']

264

In [88]:
rank=data[0:260:10]
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26']

In [89]:
len(rank)

26

In [85]:
state=data[1:260:10]
state

['Maharashtra',
 'Tamil Nadu',
 'Karnataka',
 'Uttar Pradesh',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Odisha',
 'Bihar',
 'Punjab',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry']

In [86]:
len(state)

26

In [78]:
gsdp1=data[2:262:10]
gsdp1

['-',
 '2,700,109',
 '2,500,733',
 '2,547,861',
 '-',
 '1,700,939',
 '1,524,030',
 '1,439,674',
 '1,463,960',
 '1,363,327',
 '-',
 '1,107,746',
 '1,095,535',
 '832,790',
 '-',
 '736,423',
 '565,401',
 '505,887',
 '-',
 '346,206',
 '246,465',
 '207,430',
 '-',
 '-',
 '-',
 '-']

In [79]:
len(gsdp1)

26

In [72]:
gsdp2=data[3:263:10]
gsdp2

['-',
 '2,364,514',
 '2,269,995',
 '2,258,040',
 '2,230,609',
 '1,531,758',
 '1,365,849',
 '1,303,524',
 '1,308,034',
 '1,246,471',
 '1,046,188',
 '1,014,688',
 '984,055',
 '753,177',
 '751,396',
 '676,164',
 '493,167',
 '464,399',
 '393,722',
 '303,781',
 '224,226',
 '191,728',
 '93,672',
 '72,636',
 '54,285',
 '49,643']

In [73]:
len(gsdp2)

26

In [56]:
gdp_billion=data[4:264:10]
gdp_billion

['3,108,022',
 '2,071,286',
 '1,978,094',
 '1,975,595',
 '1,928,683',
 '1,329,238',
 '1,193,489',
 '1,148,471',
 '1,124,204',
 '1,092,964',
 '934,542',
 '881,336',
 '868,905',
 '662,886',
 '650,302',
 '617,192',
 '411,454',
 '410,525',
 '358,863',
 '267,143',
 '193,352',
 '172,162',
 '84,266',
 '62,550',
 '46,096',
 '43,810']

In [70]:
len(gdp_billion)

26

In [68]:
share=data[5:266:10]
share

['13.17%',
 '8.78%',
 '8.38%',
 '8.37%',
 '8.17%',
 '5.63%',
 '5.06%',
 '4.87%',
 '4.76%',
 '4.63%',
 '3.96%',
 '3.73%',
 '3.68%',
 '2.81%',
 '2.76%',
 '2.62%',
 '1.74%',
 '1.74%',
 '1.52%',
 '1.13%',
 '0.82%',
 '0.73%',
 '0.36%',
 '0.27%',
 '0.20%',
 '0.19%']

In [69]:
len(share)

26

In [58]:
gsdp3=data[6:264:10]
gsdp3

['414.928',
 '276.522',
 '264.080',
 '263.747',
 '257.484',
 '177.456',
 '159.334',
 '153.324',
 '150.084',
 '145.913',
 '124.764',
 '117.660',
 '116.001',
 '88.497',
 '86.817',
 '82.397',
 '54.930',
 '54.806',
 '47.909',
 '35.664',
 '25.813',
 '22.984',
 '11.250',
 '8.351',
 '6.154',
 '5.849']

In [60]:
gsdp4=data[7:264:10]
gsdp4

['-',
 '1,572,601',
 '1,423,229',
 '1,423,358',
 '-',
 '904,088',
 '842,621',
 '820,894',
 '767,936',
 '660,363',
 '-',
 '672,247',
 '634,027',
 '503,871',
 '-',
 '493,283',
 '318,559',
 '321,945',
 '-',
 '213,378',
 '139,171',
 '142,800',
 '-',
 '-',
 '-',
 '-']

In [90]:
df=pd.DataFrame({"Rank":rank,"State":state,"GSDP(22-23)":gsdp1,"GSDP(21-22)":gsdp1,"Share":share,"GDP(Billion)":gdp_billion})
df

   Rank             State GSDP(22-23) GSDP(21-22)   Share GDP(Billion)
0     1       Maharashtra           -           -  13.17%    3,108,022
1     2        Tamil Nadu   2,700,109   2,700,109   8.78%    2,071,286
2     3         Karnataka   2,500,733   2,500,733   8.38%    1,978,094
3     4     Uttar Pradesh   2,547,861   2,547,861   8.37%    1,975,595
4     5           Gujarat           -           -   8.17%    1,928,683
5     6       West Bengal   1,700,939   1,700,939   5.63%    1,329,238
6     7         Rajasthan   1,524,030   1,524,030   5.06%    1,193,489
7     8    Andhra Pradesh   1,439,674   1,439,674   4.87%    1,148,471
8     9         Telangana   1,463,960   1,463,960   4.76%    1,124,204
9    10    Madhya Pradesh   1,363,327   1,363,327   4.63%    1,092,964
10   11            Kerala           -           -   3.96%      934,542
11   12             Delhi   1,107,746   1,107,746   3.73%      881,336
12   13           Haryana   1,095,535   1,095,535   3.68%      868,905
13   14            Odisha     832,790     832,790   2.81%      662,886
14   15             Bihar           -           -   2.76%      650,302
15   16            Punjab     736,423     736,423   2.62%      617,192
16   17             Assam     565,401     565,401   1.74%      411,454
17   18      Chhattisgarh     505,887     505,887   1.74%      410,525
18   19         Jharkhand           -           -   1.52%      358,863
19   20       Uttarakhand     346,206     346,206   1.13%      267,143
20   21   Jammu & Kashmir     246,465     246,465   0.82%      193,352
21   22  Himachal Pradesh     207,430     207,430   0.73%      172,162
22   23               Goa           -           -   0.36%       84,266
23   24           Tripura           -           -   0.27%       62,550
24   25        Chandigarh           -           -   0.20%       46,096
25   26        Puducherry           -           -   0.19%       43,810

# QUESTION NO 4

In [212]:
driver=webdriver.Chrome()

In [213]:
driver.get("https://www.flipkart.com")

In [216]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
designation.send_keys('One Plus Nord')

In [217]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [218]:
product_url=[]
brand_name=[]
smartphone_name=[]
colours=[]
ram=[]
rom=[]
primary_camera=[]
secondary_camera=[]
display_size=[]
battery=[]
price=[]

In [219]:
titles=driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in titles:
    product_url.append(i.get_attribute('href'))

In [220]:
product_url

['https://www.flipkart.com/oneplus-nord-ce-3-lite-5g-chromatic-gray-256-gb/p/itm2cd5a4e659035?pid=MOBGZJ45PS4AQ7BA&lid=LSTMOBGZJ45PS4AQ7BACKUFNR&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGZJ45PS4AQ7BA.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-3-lite-5g-pastel-lime-128-gb/p/itm2cd5a4e659035?pid=MOBGZJ3WM5SGTGVZ&lid=LSTMOBGZJ3WM5SGTGVZKIFVYT&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=Search&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGZJ3WM5SGTGVZ.SEARCH&ppt=sp&ppn=sp&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-3-lite-5g-pastel-lime-256-gb/p/itm2cd5a4e659035?pid=MOBGZJ3ZFQ8AKKRS&lid=LSTMOBGZJ3ZFQ8AKKRSQXDLGM&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_3&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGZJ3ZFQ8AKKRS.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-3-lite-5g-chromatic-gray-128-gb/p/itm2cd5a4e659035?pid=MOBGZJ42KHUZZKMN&lid=LSTMOBGZJ42KHUZZKMNNZJMSB&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&spotlightTagId=BestsellerId_tyy%2F4io&srno=s_1_4&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGZJ42KHUZZKMN.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-3-5g-tempest-gray-128-gb/p/itm5fc87afce35dc?pid=MOBGRK2VXCKBADB5&lid=LSTMOBGRK2VXCKBADB55DIJGI&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_5&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGRK2VXCKBADB5.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-3-5g-misty-green-128-gb/p/itm5fc87afce35dc?pid=MOBGRKA2GBGGS6QZ&lid=LSTMOBGRKA2GBGGS6QZJ2AQTE&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_6&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGRKA2GBGGS6QZ.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-black-dusk-128-gb/p/itm537fc2aa73747?pid=MOBGHBZHB7YJT5HF&lid=LSTMOBGHBZHB7YJT5HFYZAVM1&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_7&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHBZHB7YJT5HF.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce3-5g-aqua-surge-128-gb/p/itm95b25bfcca817?pid=MOBGS44DBDZBTUWS&lid=LSTMOBGS44DBDZBTUWSJ6NA4V&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_8&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGS44DBDZBTUWS.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce3-5g-grey-shimmer-128-gb/p/itm95b25bfcca817?pid=MOBGS44NJJVFWSHU&lid=LSTMOBGS44NJJVFWSHUQL9AHR&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_9&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGS44NJJVFWSHU.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-lite-5g-blue-tide-128-gb/p/itm7acae55b999e6?pid=MOBGMFREBAHZQGY9&lid=LSTMOBGMFREBAHZQGY9RTJZHA&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_10&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGMFREBAHZQGY9.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-5g-bahama-blue-128-gb/p/itm2a9883679c57c?pid=MOBGHHZ2CKB5D4WU&lid=LSTMOBGHHZ2CKB5D4WUSVEMWB&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_11&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHHZ2CKB5D4WU.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-5g-bahama-blue-128-gb/p/itm2a9883679c57c?pid=MOBGDBYGG6PPNFD9&lid=LSTMOBGDBYGG6PPNFD98KK2DS&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_12&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGDBYGG6PPNFD9.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-5g-bahama-blue-128-gb/p/itm2a9883679c57c?pid=MOBGJMUH64MTF6PK&lid=LSTMOBGJMUH64MTF6PKHMZAIE&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_13&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGJMUH64MTF6PK.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2-5g-pac-man-256-gb/p/itmc88e4a702db46?pid=MOBGHBNGEY9ZCDJV&lid=LSTMOBGHBNGEY9ZCDJVMA2XJM&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_14&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHBNGEY9ZCDJV.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2t-5g-jade-fog-256-gb/p/itm97eda8b1a1566?pid=MOBGHBZHF4YCMGZY&lid=LSTMOBGHBZHF4YCMGZYKRPRKZ&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_15&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHBZHF4YCMGZY.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2-5g-gray-sierra-128-gb/p/itmd16c63dadf5c5?pid=MOBGDBFFA5EGECHQ&lid=LSTMOBGDBFFA5EGECHQ8WHD67&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_16&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGDBFFA5EGECHQ.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-2-5g-gray-mirror-128-gb/p/itm2a9883679c57c?pid=MOBGDBYUNZZ2ZKFM&lid=LSTMOBGDBYUNZZ2ZKFMRXHLUF&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_17&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGDBYUNZZ2ZKFM.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2t-5g-gray-shadow-128-gb/p/itmeadf76c1e8943?pid=MOBGHBZH2S8MWQGQ&lid=LSTMOBGHBZH2S8MWQGQVS5NRI&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_18&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHBZH2S8MWQGQ.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2-5g-pac-man-256-gb/p/itmd16c63dadf5c5?pid=MOBGEYH6EJGAWMFT&lid=LSTMOBGEYH6EJGAWMFTWEPYFO&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_19&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGEYH6EJGAWMFT.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce-5g-blue-void-128-gb/p/itmd6dcbd8116ed1?pid=MOBGDM4UUD2FDBPH&lid=LSTMOBGDM4UUD2FDBPHWHSJTR&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_20&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGDM4UUD2FDBPH.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-2t-5g-gray-shadow-256-gb/p/itm8717097d388df?pid=MOBGHBZHNPGQGXJY&lid=LSTMOBGHBZHNPGQGXJYIFKKVX&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_21&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGHBZHNPGQGXJY.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-3-5g-misty-green-256-gb/p/itm5fc87afce35dc?pid=MOBGRK3284RMGYSX&lid=LSTMOBGRK3284RMGYSXRLM9NP&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_22&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGRK3284RMGYSX.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-3-5g-tempest-gray-256-gb/p/itm5fc87afce35dc?pid=MOBGRK35QGGTMTZ3&lid=LSTMOBGRK35QGGTMTZ3KCGOXO&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_23&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGRK35QGGTMTZ3.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb',
 'https://www.flipkart.com/oneplus-nord-ce3-5g-grey-shimmer-256-gb/p/itm95b25bfcca817?pid=MOBGS452TWGEZXMC&lid=LSTMOBGS452TWGEZXMCS6SQM7&marketplace=FLIPKART&q=One+Plus+Nord&store=tyy%2F4io&srno=s_1_24&otracker=search&otracker1=search&fm=organic&iid=10157c84-4afa-4198-ae72-0c0f1adbc3f2.MOBGS452TWGEZXMC.SEARCH&ppt=hp&ppn=homepage&ssid=efylm80mds0000001712470123061&qH=ec6552bf395feccb']

In [232]:
for i in product_url:
    driver.get(i)
    time.sleep(5)
    
   
    
    try:
        sn=driver.find_element(By.XPATH,'//span[@class="B_NuCI"]')
        smartphone_name.append(sn.text)
    except NoSuchElementException:
        smartphone_name.append('-')
    
    
    try:
        ram_rom=driver.find_element(By.XPATH,'//li[@class="_21Ahn-"][1]')
        rom.append(ram_rom.text)
    except NoSuchElementException:
        rom.append('-')
    
    try:
        camera=driver.find_element(By.XPATH,'//li[@class="_21Ahn-"][3]')
        primary_camera.append(camera.text)
    except NoSuchElementException:
        primary_camera.append('-')
    
    
    try:
        display=driver.find_element(By.XPATH,'//li[@class="_21Ahn-"][2]')
        display_size.append(display.text)
    except NoSuchElementException:
        display_size.append('-')
        
    
    try:
        battery_tag=driver.find_element(By.XPATH,'//li[@class="_21Ahn-"][4]')
        battery.append(battery_tag.text)
    except NoSuchElementException:
        battery.append('-')
    

    try:
        rs=driver.find_element(By.XPATH,'//div[@class="_30jeq3 _16Jk6d"]')
        price.append(rs.text)
    except NoSuchElementException:
        price.append('-')

In [233]:
smartphone_name

In [234]:
rom

In [235]:
primary_camera

In [236]:
display_size

In [ ]:
battery_append

In [ ]:
price

In [237]:
df=pd.DataFrame({"SmartPhone":smartphone_name,"Rom":rom,"Primary Camera":primary_camera,"Dispaly_size":display_size,"Battery Append":battery_append,"Price":price})
df

# QUESTION NO 5

In [97]:
driver=webdriver.Chrome()

In [98]:
driver.get('https://www.billboard.com/')

In [99]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
search.click()

In [101]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
weeks_on_board=[]

In [113]:
tag=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in tag:
    names=i.text
    song_name.append(names)
song_name=song_name[0:99]
print(song_name)
len(song_name)

['Like That', 'Type Shit', 'Beautiful Things', 'Lose Control', 'Too Sweet', 'Cinderella', 'Lovin On Me', "We Don't Trust You", 'Young Metro', "We Can't Be Friends (Wait For Your Love)", "Texas Hold 'Em", 'Carnival', 'Ice Attack', 'Obsessed', 'I Remember Everything', 'Cruel Summer', 'Greedy', 'Stick Season', 'Water', 'Slimed In', 'End Of Beginning', 'Agora Hills', 'Snooze', 'Claustrophobic', 'Fast Car', 'Saturn', 'Magic Don Juan (Princess Diana)', 'Get It Sexyy', 'Never Lose Me', 'Redrum', 'Act II: Date @ 8', 'Whatever She Wants', 'Fried (She A Vibe)', 'Made For Me', 'Feather', 'Runnin Outta Time', 'Man Made A Bar', 'Everyday Hustle', 'Truck Bed', 'GTA', "Ain't No Love", 'Houdini', 'Paint The Town Red', 'Enough (Miami)', 'Slow It Down', 'Selfish', "Is It Over Now? (Taylor's Version) [From The Vault]", '23', 'Yeah Glo!', 'Where The Wild Things Are', 'Burn It Down', 'WTFYM', 'Austin', 'Seen It All', 'Wild Ones', 'La Diabla', 'Exes', 'So American', 'Wildflowers And Wild Horses', 'The Boy Is Mine', 'Yes, And?', 'Where My Twin @', 'Get In With Me', 'Soak City', 'Scared To Start', 'Everybody', 'Praise Jah In The Moonlight', "Mamaw's House", 'La People II', 'I Like The Way You Kiss Me', 'Training Season', 'Punteria', 'Corazon de Piedra', 'One Of The Girls', 'Stranger', 'Mmhmm', 'Bandit', 'Surround Sound', 'Where It Ends', 'Supernatural', 'Tu Name', 'FTCU', 'Gata Only', 'I Can Feel It', 'Breathe', 'Bye', 'Eternal Sunshine', 'Wildflower And Barley', 'Sensational', 'Scared Of My Guitar', 'Spin You Around (1/24)', 'One Call', 'Best For Me', 'You Broke My Heart', 'Home', 'La Victima', 'Tucson Too Late', 'Empire Now', "Girl I've Always Been"]

99

In [104]:
tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in tag:
    names=i.text
    artist_name.append(names)
artist_name=artist_name[0:100]
print(artist_name)
len(artist_name)

['Future, Metro Boomin, Travis Scott & Playboi Carti', 'Benson Boone', 'Teddy Swims', 'Hozier', 'Future, Metro Boomin & Travis Scott', 'Jack Harlow', 'Future & Metro Boomin', 'Future, Metro Boomin & The Weeknd', 'Ariana Grande', 'Beyonce', '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Future & Metro Boomin', 'Olivia Rodrigo', 'Zach Bryan Featuring Kacey Musgraves', 'Taylor Swift', 'Tate McRae', 'Noah Kahan', 'Tyla', 'Future & Metro Boomin', 'Djo', 'Doja Cat', 'SZA', 'Future & Metro Boomin', 'Luke Combs', 'SZA', 'Future & Metro Boomin', 'Sexyy Red', 'Flo Milli', '21 Savage', '4Batz Featuring Drake', 'Bryson Tiller', 'Future & Metro Boomin', 'Muni Long', 'Sabrina Carpenter', 'Future & Metro Boomin', 'Morgan Wallen Featuring Eric Church', 'Future, Metro Boomin & Rick Ross', 'HARDY', 'Future & Metro Boomin', 'Future & Metro Boomin', 'Dua Lipa', 'Doja Cat', 'Cardi B', 'Benson Boone', 'Justin Timberlake', 'Taylor Swift', 'Chayce Beckham', 'GloRilla', 'Luke Combs', 'Parker McCollum', 'Future & Metro Boomin', 'Dasha', 'Future & Metro Boomin', 'Jessie Murph & Jelly Roll', 'Xavi', 'Tate McRae', 'Olivia Rodrigo', 'Lainey Wilson', 'Ariana Grande', 'Ariana Grande', 'Future & Metro Boomin', 'BossMan Dlow', '310babii', 'Michael Marcagi', 'Nicki Minaj Featuring Lil Uzi Vert', 'YG Marley', 'Thomas Rhett Featuring Morgan Wallen', 'Peso Pluma, Tito Double P & Joel de La P', 'Artemas', 'Dua Lipa', 'Shakira & Cardi B', 'Xavi', 'The Weeknd, Jennie & Lily Rose Depp', 'Olivia Rodrigo', 'BigXthaPlug', 'Don Toliver', 'JID Featuring 21 Savage & Baby Tate', 'Bailey Zimmerman', 'Ariana Grande', 'Fuerza Regida', 'Nicki Minaj', 'FloyyMenor X Cris Mj', 'Kane Brown', 'Yeat', 'Ariana Grande', 'Ariana Grande', 'Hozier & Allison Russell', 'Chris Brown Featuring Davido & Lojay', 'Olivia Rodrigo', 'Morgan Wallen', 'Rich Amiri', 'Joyner Lucas & Jelly Roll', 'Drake', 'Good Neighbours', 'Xavi', 'Jordan Davis', 'Hozier', 'Olivia Rodrigo', 'Sam Hunt']

99

In [105]:
data=[]
tag=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]')
for i in tag:
    names=i.text
    data.append(names)
print(data)
len(data)

['-', '2', '1', '', '', '', '2', '2', '10', '', '', '', '1', '1', '33', '', '', '', '-', '5', '1', '', '', '', '-', '6', '1', '', '', '', '4', '1', '20', '', '', '', '-', '8', '1', '', '', '', '-', '9', '1', '', '', '', '3', '1', '3', '', '', '', '6', '1', '7', '', '', '', '5', '1', '7', '', '', '', '-', '13', '1', '', '', '', '-', '14', '1', '', '', '', '7', '1', '31', '', '', '', '10', '1', '47', '', '', '', '8', '3', '28', '', '', '', '12', '10', '26', '', '', '', '20', '7', '26', '', '', '', '-', '20', '1', '', '', '', '11', '11', '6', '', '', '', '13', '7', '27', '', '', '', '14', '2', '67', '', '', '', '-', '24', '1', '', '', '', '18', '2', '53', '', '', '', '17', '6', '5', '', '', '', '-', '27', '1', '', '', '', '23', '23', '2', '', '', '', '15', '15', '15', '', '', '', '22', '5', '11', '', '', '', '19', '7', '12', '', '', '', '24', '19', '6', '', '', '', '-', '33', '1', '', '', '', '25', '20', '11', '', '', '', '26', '26', '17', '', '', '', '-', '36', '1', '', '', '', '28', '15', '27', '', '', '', '-', '38', '1', '', '', '', '27', '27', '41', '', '', '', '-', '40', '1', '', '', '', '-', '41', '1', '', '', '', '29', '11', '20', '', '', '', '32', '1', '34', '', '', '', '9', '9', '2', '', '', '', '-', '45', '1', '', '', '', '30', '19', '9', '', '', '', '31', '1', '22', '', '', '', '45', '45', '13', '', '', '', '35', '35', '7', '', '', '', '41', '26', '19', '', '', '', '42', '42', '23', '', '', '', '-', '52', '1', '', '', '', '59', '53', '3', '', '', '', '-', '54', '1', '', '', '', '37', '35', '25', '', '', '', '44', '20', '15', '', '', '', '43', '34', '19', '', '', '', '-', '58', '1', '', '', '', '48', '48', '9', '', '', '', '34', '16', '3', '', '', '', '36', '1', '11', '', '', '', '-', '62', '1', '', '', '', '50', '49', '8', '', '', '', '53', '53', '15', '', '', '', '56', '56', '6', '', '', '', '51', '24', '16', '', '', '', '62', '34', '9', '', '', '', '55', '55', '13', '', '', '', '-', '69', '1', '', '', '', '-', '70', '1', '', '', '', '61', '27', '6', '', '', '', '-', '72', '1', '', '', '', '-', '73', '1', '', '', '', '58', '51', '14', '', '', '', '-', '75', '1', '', '', '', '70', '65', '14', '', '', '', '60', '38', '8', '', '', '', '57', '40', '20', '', '', '', '67', '32', '13', '', '', '', '40', '17', '3', '', '', '', '74', '66', '6', '', '', '', '71', '15', '16', '', '', '', '98', '83', '2', '', '', '', '63', '50', '13', '', '', '', '64', '42', '6', '', '', '', '52', '25', '3', '', '', '', '49', '23', '3', '', '', '', '-', '88', '1', '', '', '', '73', '71', '8', '', '', '', '-', '90', '1', '', '', '', '78', '24', '9', '', '', '', '75', '60', '9', '', '', '', '-', '93', '1', '', '', '', '69', '11', '19', '', '', '', '80', '77', '8', '', '', '', '77', '46', '15', '', '', '', '81', '81', '4', '', '', '', '-', '98', '1', '', '', '', '-', '99', '1', '', '', '', '92', '92', '3', '', '', '']

594

In [106]:
last_week_rank=data[0:594:6]
last_week_rank=last_week_rank[0:100]
last_week_rank

['-',
 '2',
 '1',
 '-',
 '-',
 '4',
 '-',
 '-',
 '3',
 '6',
 '5',
 '-',
 '-',
 '7',
 '10',
 '8',
 '12',
 '20',
 '-',
 '11',
 '13',
 '14',
 '-',
 '18',
 '17',
 '-',
 '23',
 '15',
 '22',
 '19',
 '24',
 '-',
 '25',
 '26',
 '-',
 '28',
 '-',
 '27',
 '-',
 '-',
 '29',
 '32',
 '9',
 '-',
 '30',
 '31',
 '45',
 '35',
 '41',
 '42',
 '-',
 '59',
 '-',
 '37',
 '44',
 '43',
 '-',
 '48',
 '34',
 '36',
 '-',
 '50',
 '53',
 '56',
 '51',
 '62',
 '55',
 '-',
 '-',
 '61',
 '-',
 '-',
 '58',
 '-',
 '70',
 '60',
 '57',
 '67',
 '40',
 '74',
 '71',
 '98',
 '63',
 '64',
 '52',
 '49',
 '-',
 '73',
 '-',
 '78',
 '75',
 '-',
 '69',
 '80',
 '77',
 '81',
 '-',
 '-',
 '92']

In [107]:
len(last_week_rank)

99

In [108]:
peak_rank=data[1:594:6]
peak_rank=peak_rank[0:100]
peak_rank

['2',
 '2',
 '1',
 '5',
 '6',
 '1',
 '8',
 '9',
 '1',
 '1',
 '1',
 '13',
 '14',
 '1',
 '1',
 '3',
 '10',
 '7',
 '20',
 '11',
 '7',
 '2',
 '24',
 '2',
 '6',
 '27',
 '23',
 '15',
 '5',
 '7',
 '19',
 '33',
 '20',
 '26',
 '36',
 '15',
 '38',
 '27',
 '40',
 '41',
 '11',
 '1',
 '9',
 '45',
 '19',
 '1',
 '45',
 '35',
 '26',
 '42',
 '52',
 '53',
 '54',
 '35',
 '20',
 '34',
 '58',
 '48',
 '16',
 '1',
 '62',
 '49',
 '53',
 '56',
 '24',
 '34',
 '55',
 '69',
 '70',
 '27',
 '72',
 '73',
 '51',
 '75',
 '65',
 '38',
 '40',
 '32',
 '17',
 '66',
 '15',
 '83',
 '50',
 '42',
 '25',
 '23',
 '88',
 '71',
 '90',
 '24',
 '60',
 '93',
 '11',
 '77',
 '46',
 '81',
 '98',
 '99',
 '92']

In [109]:
len(peak_rank)

99

In [110]:
weeks_on_board=data[2:594:6]
weeks_on_board=weeks_on_board[0:100]
weeks_on_board

['1',
 '10',
 '33',
 '1',
 '1',
 '20',
 '1',
 '1',
 '3',
 '7',
 '7',
 '1',
 '1',
 '31',
 '47',
 '28',
 '26',
 '26',
 '1',
 '6',
 '27',
 '67',
 '1',
 '53',
 '5',
 '1',
 '2',
 '15',
 '11',
 '12',
 '6',
 '1',
 '11',
 '17',
 '1',
 '27',
 '1',
 '41',
 '1',
 '1',
 '20',
 '34',
 '2',
 '1',
 '9',
 '22',
 '13',
 '7',
 '19',
 '23',
 '1',
 '3',
 '1',
 '25',
 '15',
 '19',
 '1',
 '9',
 '3',
 '11',
 '1',
 '8',
 '15',
 '6',
 '16',
 '9',
 '13',
 '1',
 '1',
 '6',
 '1',
 '1',
 '14',
 '1',
 '14',
 '8',
 '20',
 '13',
 '3',
 '6',
 '16',
 '2',
 '13',
 '6',
 '3',
 '3',
 '1',
 '8',
 '1',
 '9',
 '9',
 '1',
 '19',
 '8',
 '15',
 '4',
 '1',
 '1',
 '3']

In [111]:
len(weeks_on_board)

99

In [117]:
df=pd.DataFrame({"Song Name":song_name,"Artist Name":artist_name,"Current Rank":peak_rank,"Last Week rank":last_week_rank,"Week On Borad":weeks_on_board})
df

,Song Name,Artist Name,Current Rank,Last Week rank,Week On Borad
0,Like That,"Future, Metro Boomin, Travis Scott & Playboi C...",2,-,1
1,Type Shit,Benson Boone,2,2,10
2,Beautiful Things,Teddy Swims,1,1,33
3,Lose Control,Hozier,5,-,1
4,Too Sweet,"Future, Metro Boomin & Travis Scott",6,-,1
...,...,...,...,...,...
94,Home,Xavi,46,77,15
95,La Victima,Jordan Davis,81,81,4
96,Tucson Too Late,Hozier,98,-,1
97,Empire Now,Olivia Rodrigo,99,-,1
98,Girl I've Always Been,Sam Hunt,92,92,3

# QUESTION NO 6

In [118]:
driver=webdriver.Chrome()

In [119]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [120]:
data=[]
rank=[]
book_name=[]
author_name=[]
sold=[]
publisher=[]
genre=[]

In [122]:
tag=driver.find_elements(By.TAG_NAME,'td')
for i in tag:
    names=i.text
    data.append(names)
data=data[1:601]
print(data)
len(data)

['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', 'Crime, Thriller & Adventure', '2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', "Children's Fiction", '3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', "Children's Fiction", '4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.', '4,179,479', 'Bloomsbury', "Children's Fiction", '5', 'Fifty Shades of Grey', 'James, E. L.', '3,758,936', 'Random House', 'Romance & Sagas', '6', 'Harry Potter and the Goblet of Fire', 'Rowling, J.K.', '3,583,215', 'Bloomsbury', "Children's Fiction", '7', 'Harry Potter and the Chamber of Secrets', 'Rowling, J.K.', '3,484,047', 'Bloomsbury', "Children's Fiction", '8', 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', '3,377,906', 'Bloomsbury', "Children's Fiction", '9', 'Angels and Demons', 'Brown, Dan', '3,193,946', 'Transworld', 'Crime, Thriller & Adventure', '10', "Harry Potter and the Half-blood Prince:Children's Edition", 'Rowling, J.K.', '2,950,264', 'Bloomsbury', "Children's Fiction", '11', 'Fifty Shades Darker', 'James, E. L.', '2,479,784', 'Random House', 'Romance & Sagas', '12', 'Twilight', 'Meyer, Stephenie', '2,315,405', 'Little, Brown Book', 'Young Adult Fiction', '13', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Larsson, Stieg', '2,233,570', 'Quercus', 'Crime, Thriller & Adventure', '14', 'Fifty Shades Freed', 'James, E. L.', '2,193,928', 'Random House', 'Romance & Sagas', '15', 'Lost Symbol,The', 'Brown, Dan', '2,183,031', 'Transworld', 'Crime, Thriller & Adventure', '16', 'New Moon', 'Meyer, Stephenie', '2,152,737', 'Little, Brown Book', 'Young Adult Fiction', '17', 'Deception Point', 'Brown, Dan', '2,062,145', 'Transworld', 'Crime, Thriller & Adventure', '18', 'Eclipse', 'Meyer, Stephenie', '2,052,876', 'Little, Brown Book', 'Young Adult Fiction', '19', 'Lovely Bones,The', 'Sebold, Alice', '2,005,598', 'Pan Macmillan', 'General & Literary Fiction', '20', 'Curious Incident of the Dog in the Night-time,The', 'Haddon, Mark', '1,979,552', 'Random House', 'General & Literary Fiction', '21', 'Digital Fortress', 'Brown, Dan', '1,928,900', 'Transworld', 'Crime, Thriller & Adventure', '22', 'Short History of Nearly Everything,A', 'Bryson, Bill', '1,852,919', 'Transworld', 'Popular Science', '23', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Larsson, Stieg', '1,814,784', 'Quercus', 'Crime, Thriller & Adventure', '24', 'Breaking Dawn', 'Meyer, Stephenie', '1,787,118', 'Little, Brown Book', 'Young Adult Fiction', '25', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Carle, Eric', '1,783,535', 'Penguin', 'Picture Books', '26', 'Gruffalo,The', 'Donaldson, Julia', '1,781,269', 'Pan Macmillan', 'Picture Books', '27', "Jamie's 30-Minute Meals", 'Oliver, Jamie', '1,743,266', 'Penguin', 'Food & Drink: General', '28', 'Kite Runner,The', 'Hosseini, Khaled', '1,629,119', 'Bloomsbury', 'General & Literary Fiction', '29', 'One Day', 'Nicholls, David', '1,616,068', 'Hodder & Stoughton', 'General & Literary Fiction', '30', 'Thousand Splendid Suns,A', 'Hosseini, Khaled', '1,583,992', 'Bloomsbury', 'General & Literary Fiction', '31', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", 'Larsson, Stieg', '1,555,135', 'Quercus', 'Crime, Thriller & Adventure', '32', "Time Traveler's Wife,The", 'Niffenegger, Audrey', '1,546,886', 'Random House', 'General & Literary Fiction', '33', 'Atonement', 'McEwan, Ian', '1,539,428', 'Random House', 'General & Literary Fiction', '34', "Bridget Jones's Diary:A Novel", 'Fielding, Helen', '1,508,205', 'Pan Macmillan', 'General & Literary Fiction', '35', 'World According to Clarkson,The', 'Clarkson, Jeremy', '1,489,403', 'Penguin', 'Humour: Collections & General', '36', "Captain Corelli's Mandolin", 'Bernieres, Louis de', '1,352,318', 'Random House', 'General & Literary Fiction', '37', 'Sound of Laughter,The', 'Kay, Peter', '1,310,207', 'Random House', 'Autobiography: General', '38', 'Life of Pi', 'Martel, Yann', '1,310,176', 'Canongate', 'General & Literary Fiction', '39', 'Billy Connolly', 'Stephenson, Pamela', '1,231,957', 'HarperCollins', 'Biography: The Arts', '40', 'Child Called It,A', 'Pelzer, Dave', '1,217,712', 'Orion', 'Autobiography: General', '41', "Gruffalo's Child,The", 'Donaldson, Julia', '1,208,711', 'Pan Macmillan', 'Picture Books', '42', "Angela's Ashes:A Memoir of a Childhood", 'McCourt, Frank', '1,204,058', 'HarperCollins', 'Autobiography: General', '43', 'Birdsong', 'Faulks, Sebastian', '1,184,967', 'Random House', 'General & Literary Fiction', '44', 'Northern Lights:His Dark Materials S.', 'Pullman, Philip', '1,181,503', 'Scholastic Ltd.', 'Young Adult Fiction', '45', 'Labyrinth', 'Mosse, Kate', '1,181,093', 'Orion', 'General & Literary Fiction', '46', 'Harry Potter and the Half-blood Prince', 'Rowling, J.K.', '1,153,181', 'Bloomsbury', 'Science Fiction & Fantasy', '47', 'Help,The', 'Stockett, Kathryn', '1,132,336', 'Penguin', 'General & Literary Fiction', '48', 'Man and Boy', 'Parsons, Tony', '1,130,802', 'HarperCollins', 'General & Literary Fiction', '49', 'Memoirs of a Geisha', 'Golden, Arthur', '1,126,337', 'Random House', 'General & Literary Fiction', '50', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'McCall Smith, Alexander', '1,115,549', 'Little, Brown Book', 'Crime, Thriller & Adventure', '51', 'Island,The', 'Hislop, Victoria', '1,108,328', 'Headline', 'General & Literary Fiction', '52', 'PS, I Love You', 'Ahern, Cecelia', '1,107,379', 'HarperCollins', 'General & Literary Fiction', '53', 'You are What You Eat:The Plan That Will Change Your Life', 'McKeith, Gillian', '1,104,403', 'Penguin', 'Fitness & Diet', '54', 'Shadow of the Wind,The', 'Zafon, Carlos Ruiz', '1,092,349', 'Orion', 'General & Literary Fiction', '55', 'Tales of Beedle the Bard,The', 'Rowling, J.K.', '1,090,847', 'Bloomsbury', "Children's Fiction", '56', 'Broker,The', 'Grisham, John', '1,087,262', 'Random House', 'Crime, Thriller & Adventure', '57', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Atkins, Robert C.', '1,054,196', 'Random House', 'Fitness & Diet', '58', 'Subtle Knife,The:His Dark Materials S.', 'Pullman, Philip', '1,037,160', 'Scholastic Ltd.', 'Young Adult Fiction', '59', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', 'Truss, Lynne', '1,023,688', 'Profile Books Group', 'Usage & Writing Guides', '60', "Delia's How to Cook:(Bk.1)", 'Smith, Delia', '1,015,956', 'Random House', 'Food & Drink: General', '61', 'Chocolat', 'Harris, Joanne', '1,009,873', 'Transworld', 'General & Literary Fiction', '62', 'Boy in the Striped Pyjamas,The', 'Boyne, John', '1,004,414', 'Random House Childrens Books G', 'Young Adult Fiction', '63', "My Sister's Keeper", 'Picoult, Jodi', '1,003,780', 'Hodder & Stoughton', 'General & Literary Fiction', '64', 'Amber Spyglass,The:His Dark Materials S.', 'Pullman, Philip', '1,002,314', 'Scholastic Ltd.', 'Young Adult Fiction', '65', 'To Kill a Mockingbird', 'Lee, Harper', '998,213', 'Random House', 'General & Literary Fiction', '66', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Gray, John', '992,846', 'HarperCollins', 'Popular Culture & Media: General Interest', '67', 'Dear Fatty', 'French, Dawn', '986,753', 'Random House', 'Autobiography: The Arts', '68', 'Short History of Tractors in Ukrainian,A', 'Lewycka, Marina', '986,115', 'Penguin', 'General & Literary Fiction', '69', 'Hannibal', 'Harris, Thomas', '970,509', 'Random House', 'Crime, Thriller & Adventure', '70', 'Lord of the Rings,The', 'Tolkien, J. R. R.', '967,466', 'HarperCollins', 'Science Fiction & Fantasy', '71', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Moore, Michael', '963,353', 'Penguin', 'Current Affairs & Issues', '72', 'Interpretation of Murder,The', 'Rubenfeld, Jed', '962,515', 'Headline', 'Crime, Thriller & Adventure', '73', 'Sharon Osbourne Extreme:My Autobiography', 'Osbourne, Sharon', '959,496', 'Little, Brown Book', 'Autobiography: The Arts', '74', 'Alchemist,The:A Fable About Following Your Dream', 'Coelho, Paulo', '956,114', 'HarperCollins', 'General & Literary Fiction', '75', "At My Mother's Knee ...:and Other Low Joints", "O'Grady, Paul", '945,640', 'Transworld', 'Autobiography: The Arts', '76', 'Notes from a Small Island', 'Bryson, Bill', '931,312', 'Transworld', 'Travel Writing', '77', 'Return of the Naked Chef,The', 'Oliver, Jamie', '925,425', 'Penguin', 'Food & Drink: General', '78', 'Bridget Jones: The Edge of Reason', 'Fielding, Helen', '924,695', 'Pan Macmillan', 'General & Literary Fiction', '79', "Jamie's Italy", 'Oliver, Jamie', '906,968', 'Penguin', 'National & Regional Cuisine', '80', 'I Can Make You Thin', 'McKenna, Paul', '905,086', 'Transworld', 'Fitness & Diet', '81', 'Down Under', 'Bryson, Bill', '890,847', 'Transworld', 'Travel Writing', '82', 'Summons,The', 'Grisham, John', '869,671', 'Random House', 'Crime, Thriller & Adventure', '83', 'Small Island', 'Levy, Andrea', '869,659', 'Headline', 'General & Literary Fiction', '84', 'Nigella Express', 'Lawson, Nigella', '862,602', 'Random House', 'Food & Drink: General', '85', 'Brick Lane', 'Ali, Monica', '856,540', 'Transworld', 'General & Literary Fiction', '86', "Memory Keeper's Daughter,The", 'Edwards, Kim', '845,858', 'Penguin', 'General & Literary Fiction', '87', 'Room on the Broom', 'Donaldson, Julia', '842,535', 'Pan Macmillan', 'Picture Books', '88', 'About a Boy', 'Hornby, Nick', '828,215', 'Penguin', 'General & Literary Fiction', '89', 'My Booky Wook', 'Brand, Russell', '820,563', 'Hodder & Stoughton', 'Autobiography: The Arts', '90', 'God Delusion,The', 'Dawkins, Richard', '816,907', 'Transworld', 'Popular Science', '91', '"Beano" Annual,The', '0', '816,585', 'D.C. Thomson', "Children's Annuals", '92', 'White Teeth', 'Smith, Zadie', '815,586', 'Penguin', 'General & Literary Fiction', '93', 'House at Riverton,The', 'Morton, Kate', '814,370', 'Pan Macmillan', 'General & Literary Fiction', '94', 'Book Thief,The', 'Zusak, Markus', '809,641', 'Transworld', 'General & Literary Fiction', '95', 'Nights of Rain and Stars', 'Binchy, Maeve', '808,900', 'Orion', 'General & Literary Fiction', '96', 'Ghost,The', 'Harris, Robert', '807,311', 'Random House', 'General & Literary Fiction', '97', 'Happy Days with the Naked Chef', 'Oliver, Jamie', '794,201', 'Penguin', 'Food & Drink: General', '98', 'Hunger Games,The:Hunger Games Trilogy', 'Collins, Suzanne', '792,187', 'Scholastic Ltd.', 'Young Adult Fiction', '99', "Lost Boy,The:A Foster Child's Search for the Love of a Family", 'Pelzer, Dave', '791,507', 'Orion', 'Biography: General', '100', "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours", 'Oliver, Jamie', '791,095', 'Penguin', 'Food & Drink: General']

600

In [123]:
rank=data[0:600:6]
rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

In [124]:
len(rank)

100

In [125]:
book_name=data[1:600:6]
book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [126]:
len(book_name)

100

In [127]:
author_name=data[2:600:6]
author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [128]:
len(author_name)

100

In [129]:
volume_sold=data[3:600:6]
volume_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [130]:
len(volume_sold)

100

In [131]:
publisher=data[4:600:6]
publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [132]:
len(publisher)

100

In [133]:
genre=data[5:600:6]
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [134]:
len(genre)

100

In [135]:
df=pd.DataFrame({"Rank":rank,"Book Name":book_name,"Author Name":author_name,"Volume Sold":volume_sold,"Publisher":publisher,"Genre":genre})
df

,Rank,Book Name,Author Name,Volume Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# QUESTION NO 8

In [198]:
driver=webdriver.Chrome()

In [199]:
driver.get('https://archive.ics.uci.edu/')

In [200]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search.click()

In [201]:
dataset_name=[]
attribute=[]
data_type=[]
task=[]
types=[]
instance=[]
features=[]
year=[]
product_url=[]

In [228]:
url=[]
start=0
end=60
for page in range(start,end):
    
    titles=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in titles:
        url.append(i.get_attribute('href'))
        
    next_button=driver.find_element(By.XPATH,'//button[@class="btn-primary btn-sm btn"][2]')
    next_button.click()
    time.sleep(3)

In [227]:
for i in url:
    driver.get(i)
    
    try:
        type=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semilar"]')
        dataset_name.append(type.text)
    except NoSuchElementException:
        dataset_name.append('-')
        
    try:
        type=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semilar"]')
        data_type.append(type.text)
    except NoSuchElementException:
        data_type.append('-')
        
        
    try:
        tk=driver.find_element(By.XPATH,'///html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[1]/h1/span')
        task.append(tk.text)
    except NoSuchElementException:
        task.append('-')
        
    try:
        typ=driver.find_element(By.XPATH,'//html/body/div[1]/div/div[3]/div[1]/div[2]/div[3]/div/div[3]/div[1]/div/div[1]')
        types.append(typ.text)
    except NoSuchElementException:
        types.append('-')
        
    try:
        inst=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semilar"]')
        instance.append(inst.text)
    except NoSuchElementException:
        instance.append('-')

In [238]:
print(dataset_name)
len(data_name)

In [239]:
print(data_type)
len(data_type)

In [240]:
print(task)
len(task)

In [241]:
print(instance)
len(instance)

In [231]:
df=pd.DataFrame({"Dataset_Name": dataset_name,"Data_Type":data_type,"Task":task,"Instance":instance})
df

# THANK YOU